:host {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none; /* prevent from clicking */
}
:root {
    /* https://realtimecolors.com/?colors=091b11-ecf9f2-9abbdf-f2e1d4-be3c83 */
    --text: #091b11;
    --background: #ecf9f2;
    --primary: #9abbdf;
    --secondary: #f2e1d4;
    --accent: #be3c83;
}

/* button {
    
}  */

.window {
    position: absolute;
    pointer-events: initial;
}
.window > .title {
    display: flex;
    justify-content: center;
}

.main-window {
    background-color: rgba(192, 199, 200, 1.0);
    
    border: 3px solid;
    border-color: #a89f90;
    border-radius: 5px;
}
.main-window > .title > :nth-child(1) {
    color: #c41958;
}
.main-window > .title > :nth-child(2) {
    color: #37d644;
}
.main-window > .title > :nth-child(3) {
    color: #4237d6;
}
.main-window > .content > .page-buttons {
    display: flex;
    justify-content: center;
}

.Page {
    display: flex;
    flex-direction: column;
    padding: 0.2rem;
}

.teleport-page > .delay-wrapper {
    display: flex;
    flex-direction: row;
}
.teleport-page > .delay-wrapper > span {
    flex: 1;
    margin-right: 1rem;
}
.teleport-page > .delay-wrapper > input {
    flex: 2;
}


.position {
    display: flex;
}

.ArtInfoElement {
    display: flex;
    flex-direction: column;
}